@charset "UTF-8";

.sub-page {
    /* background-color: brown; */
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 4%;
}

.subpage-title {
    /* background-color: rgba(100, 148, 237, 0.233); */
    padding: 18px 0px 0px 20px;
}

.subpage-title h1{
    font-size: 80px;
}
.subpage-title p{
    font-size: 30px;
    position:relative;
    right:-5px;
    top: -30px;
}

.subpage-content {
    /* background-color: rgba(133, 219, 75, 0.233); */
    padding: 0px 0px 0px 40px;

    position:relative;
    top: -30px;
}



.subpage-person{
    margin: 10px 0px 50px 0px;
    /* background-color: rgba(219, 85, 75, 0.233); */
}

.side {
    display: flex;
    /* margin-top:14px */
    /* background-color: rgba(219, 85, 75, 0.233); */
    
}

/* 横並び */
.person-name {
    padding-left: 10px;
    margin-top: -10px;

    font-size: 70px;
}
.person-img {
    padding-left: 10px;
    height: 70px;
    margin-top:10px;
}

.person-role {
    padding-left: 10px;
    padding-top: 39px;

    font-size: 30px;
}
/* /横並び */

.subpage-person p {
    position:relative;
    right:-5px;
    top: -0px;
}


/* ↑ メンバーのところで作ったやつ*/

/* ↓SNSのとこ用 */

.subpage-person a:link, a:visited,  a:active {
    color: #111;
  }

.subpage-person a:hover {
    color: rgb(122, 165, 210);
  }

  
/* ↓Resultのとこ用 */
.result-img {
    padding-left: 10px;
    width: 100%;
    max-width: 700px;
    margin-top:10px;
}

.result-data {
    padding-left: 10px;
    font-size: 30px;
}

/* Robotsのとこ用 */
.robot-data{
    margin-top:10px;
    padding-left: 10px;
    font-size: 30px;
}
.robot-img {
    padding-left: 10px;
    width: 100%;
    max-width: 500px;
    margin-top:0px;
}

.robot-versinon{
    margin-bottom: 30px;
}